[2019-09-10 19:12] michaelmior opened #2 "`sherlock` model gives strange results"
When trying predictions using the `sherlock` model, I get everything in the sample data predicted as `weight` or `symbol`. Using ` retrain_minimal_sample` gives more reasonable results. It would be helpful to have an explanation of what these two models are.

[2019-09-11 06:18] madelonhulsebos commented on #2
Hi @michaelmior ,
Thanks for noting this issue, I'm aware of the problem and will fix this next weekend.
I will also add the original training data and model code, for replication and experimentation.
Madelon

[2019-09-11 13:39] michaelmior commented on #2
@madelonhulsebos Thanks! If you could update this when that's fixed, that would be great :)

[2019-10-17 13:36] yeonghunnam opened #3 "Is the model in "src/model" already trained?"
Hi. I am really excited to see the new approach to detect semantic datatypes using deep learning :)
I wonder if the model provided in "src/model" is already trained using 685,765 columns (which is described in the paper).

[2019-10-28 18:49] sherlockauthors commented on #3
Hi @yeonghunnam,

Thanks for reaching out! The model (to be built from the `sherlock_model.h5` and `sherlock_model.json` files) in the `src/models` directory indeed matches the model used to run the experiments in the paper. It is trained on only 60% of the data (train set), while validated and tested on the other 40%. Using the `retrain_sherlock.ipynb` notebook you should be able to retrain the m

[2020-03-19 21:30] dav-ell opened #7 "Is the data in sherlock/data/raw the full dataset?"
This repository has no data in /data. However, the previous repository does, at https://github.com/madelonhulsebos/sherlock/tree/master/data/raw. Is that the full dataset used to train the model? The paper describes the dataset as the following:

Seeing as how `test_values.csv` only contains 1,000 columns, I assume this is only a very small sample of the full dataset, and that the full dataset sti

[2020-06-07 16:18] madelonhulsebos commented on #7
Hi @dav-ell,

That is correct, it is too large to be stored on GitHub. You can find the original datasets here: https://drive.google.com/file/d/1-g0zbKFAXz7zKZc0Dnh74uDBpZCv4YqU/view?usp=sharing.

Kind regards,
Madelon

[2020-06-09 19:06] dav-ell commented on #7
Great! This is very helpful to have, thank you.

[2020-06-09 19:06] #7 closed

[2020-09-21 13:19] gaurav326913 opened #8 "How to test on new data"
Thanks for creating such an amazing project. I am able to replicate the output using the dataset shared by you.

However now if i want to try it on my own dataset how do i do it. What is the process to convert my raw data set into the pre-processed form . From the code and comment, i could understand that below code , takes X-test in the pre-processed form and not the raw form.
predicted_labels =

[2020-09-25 17:11] tresata-kunal commented on #8
The model requires test input to be in the same format as that of the training data, that is, columns in the form of vectors of their contents.

[2020-09-25 19:24] dav-ell opened #9 "Attempting to reproduce results: feature vector normalization"
I've been able to run custom data through your `build_features` function (with quite a few code changes), and I have the 1588 features that you have in your paper. However, many of these features need normalization, e.g. `n_[a]-agg-sum: 2081`. You don't describe how you normalized in your paper, you just say:

Your results are not possible to reproduce without knowledge of how you normalized your

[2020-09-25 19:31] dav-ell commented on #8
For me, I specifically had to do:

[code]

[2020-09-25 21:58] dav-ell commented on #9
Additionally, `train_sherlock.py` and `retrain_sherlock.ipynb` don't give any hints as to how you make it work. All the code I can find to manipulate the input is below:

[code]

...and that's it. Nowhere do I see values being normalized. Are they not, perhaps...?

[2020-10-06 08:09] madelonhulsebos commented on #9
Thanks for your effort on figuring this out @dav-ell. As we discussed offline, the feature vectors are indeed normalized.

This normalization is applied within the NN model. The first layer in each 'subnetwork' is a BatchNormalization layer. The first layer of the main network, after all subnetworks are merged, is also a BatchNormalization layer.

The code can be found in the 'model_code' branch,

[2020-10-06 08:14] madelonhulsebos commented on #8
Hi @gaurav326913, thanks for raising this issue and @dav-ell and @tresata-kunal for supporting.

This repository should be reworked to make it useful for other datasets, train the model from scratch, etc. I will have more time to look into that over the next 4 weeks. At this moment, as @dav-ell suggested, you have to put quite some effort in preparing your data in the expected format. I will clari

[2020-10-08 13:04] dav-ell commented on #9
Thanks @madelonhulsebos. I didn't even know about the other branch, so that's helpful to hear.

Appreciate your response. You answered my question, so I'll close this issue.

[2020-10-08 13:04] #9 closed

[2020-10-16 11:40] devisrivarshny opened #11 "nn_id=retrain_sherlock does not generate loss value"
Hi, I am trying to use Sherlock model for schematic field type prediction. I tried for large and small amount of data but whenever i try to train the model with nn_id=retrain_sherlock out of 100epochs it is running only for 5epochs and stops, the loss value is NaN from 1st epoch. The predictions for all the fieldtype is email. And i tried different things to solve the issue like checking the null

[2020-11-09 07:13] drimyus commented on #8
Hi @madelonhulsebos

I tried to train the sherlock model with my own dataset (20 categories). I updated the number of units on sherlock_model.json from 78 to 20. Once I started the training, I saw that the loss is `nan` and the accuracy is not growing. :(

[code]

Can you please provide short guidance on how can I apply the sherlock algorithm on a new dataset?
Looking to hearing from you soon.
Tha

[2020-11-09 23:48] drimyus commented on #11
Hi @devisrivarshny ,
Please check your train data (preprocessed), there might be np.nan value.

[2020-11-27 17:48] sylmorin-gbif opened #14 "Retrain sherlock"
Hello,

Thank you for this project!

In the notebook, I read:

Could you please advise where this workaround is?
I can't find it in the README, except that:

I don't really understand if I can re-train sherlock with my own training data?

I tried, and I have an issue, but maybe not related...
I share it just in case.

Thanks.

  File "retrain.py", line 40, in <module>
    train_sherlock(X_train_fe

[2020-12-08 04:15] varsha222 opened #15 "Varsha"
Why using raw data with pretrained model accuracy is only 56% while preprocessed data with pretrained model accuracy is 89%?

[2020-12-13 21:05] madelonhulsebos commented on #15
Hi @varsha222, a discrepancy was introduced after a code rewrite. I am not sure what the cause is but will check soon.

[2020-12-14 14:23] hiten26 commented on #15
Hi @varsha222,

Given that feature extraction can take long, they have only taken the first 100 samples.

If you can use a high configure machine then you can try with complete test data.

[2020-12-14 14:28] hiten26 opened #17 "Any scope for re-training with new classes outside pre-trained 78 classes?"
Thank you so much for this wonderful work.

Do you guys have any plan for re-training the model with new classes apart from 78 classes?

Do you guys have any plan for providing an option for changing the word-embedding technique?

[2021-01-05 23:09] lakithasahan opened #18 "Gensim Doc2Vec Error when loading para_vec_trained_400.pkl"
Getting a numpy error when loading the model.

ValueError: cannot reshape array of size 28232988 into shape (412059,400)

Any suggestions to fix this issue?

[2021-01-06 00:17] #18 closed

[2021-01-06 00:19] lakithasahan commented on #18
Complete para_vec model havent downloaded properly, re-download fixed th issue.

[2021-01-25 07:17] buddhareddy commented on #15
hi @hiten26  i need your help to use this model in google colab for my project purpose kindly help me.

here is my emai: buddhareddy.polepelli@gmail.com i require your 30 mins time for setup its a request from myend

[2021-02-02 16:05] madelonhulsebos commented on #17
Hi @hiten26,

Thanks for your interest in our work!
We are currently working on a new dataset for training type detection models with more classes and more data.
I hope to provide also a more modular implementation of Sherlock (or a similar model) to facilitate different use-cases and configurations at some point.

Stay tuned!

[2021-02-02 16:15] madelonhulsebos commented on #18
Thanks for sharing @lakithasahan!

[2021-02-24 22:52] bhart12 opened #19 "How to train Sherlock?"
I see that the jupyter notebook, "demo_usage_sherlock.ipynb" is included to be able to see how to retrain the model. However, in the jupyter notebook, when "train_sherlock(X_train, y_train, X_val, y_val, nn_id='retrained_sherlock');" is called, none of the parameters that are being passed in have been declared before this, therefore the function obviously fails. I've tried several ways to create t

[2021-03-03 23:15] ikhan94 commented on #8
Hi @madelonhulsebos, I would like to use this framework on another dataset, you wrote that you are looking for an improved solution to prepare the data. So I wanted to ask you in case you have found something which is easier?

[2021-03-04 19:35] madelonhulsebos commented on #19
Hi @bhart12,

I am not familiar with this issue, it should work. Could you share the error(s) that you're running into?

Thanks!

[2021-03-04 19:52] madelonhulsebos commented on #8
Hi @ikhan94,

Yes I have rewritten the `preprocessing.py` module to this end with the functions `convert_string_lists_to_lists` and `extract_features`. Please let me know if you run into issues with this!

[2021-03-04 21:11] bhart12 commented on #19
So in the current notebook you have (notebooks/demo_usage_sherlock.ipynb), under the "Retrain Sherlock" label you have the following line:
![image](https://user-images.githubusercontent.com/37195929/110030116-50dd8200-7d03-11eb-8acc-85473efce259.png)

However, nowhere before this line are the variables X_train, y_train, X_val, or y_val declared in the notebook. So I tried to create these variables

[2021-03-05 02:44] uucico commented on #19
If you notice the X_train data has booleans in fields such as `n_[0]-agg-any `and `n_[0]-agg-all`. I replaced the following section of `sherlock_model.predict `to convert them from categorial.

[code]

It reproduces the example notebook results, but not sure if it's a sound approach. Ideas welcome and I hope this helps.

[2021-03-07 20:20] bhart12 commented on #19
@uucico @madelonhulsebos
So I tried the change you made above. Please note that I am trying to fix the train_sherlock function, not the predict_sherlock function. However, I followed your approach and changed this section of the train_sherlock function:
'''
sherlock_model.fit(
        [
            X_train[feature_cols['char']].values,
            X_train[feature_cols['word']].values,

[2021-03-08 17:25] bhart12 commented on #19
So I might have figured out my issue. I made the changes to both the train_sherlock function and predict_sherlock function that are shown above. I think my program was not working because I have been trying to train the model on only part of the data (to save time), but it seems that the train_sherlock function will not work if all 78 different training labels are not in the y_train and y_val vari

[2021-03-23 09:25] sylmorin-gbif opened #21 "Feature preparation is not optimized (word_embeddings)"
Feature preparation is slow and not optimized in the "word_embeddings" step

[2021-03-23 09:33] sylmorin-gbif commented on #21
See PR: https://github.com/mitmedialab/sherlock-project/pull/22

**Speed up feature preparation by 16**

Results before factorization:
[code]

Results after factorization:
[code]

[2021-03-23 09:38] sylmorin-gbif commented on #19
@bhart12
If you are training your model with less than the 78 labels (and if you know how many labels you have), you can update this number in the file:
https://github.com/mitmedialab/sherlock-project/blob/master/models/sherlock_model.json

I cannot put a direct link to the line to update (this JSON is not formatted - single line)
Please search for
`"name": "dense_8"`

You will see:
`"units": 78,`

[2021-03-23 09:39] sylmorin-gbif commented on #14
See issue https://github.com/mitmedialab/sherlock-project/issues/19 for explanation and resolution.

[2021-03-23 09:39] #14 closed

[2021-03-23 09:43] sylmorin-gbif commented on #11
Hi @devisrivarshny
I agree with @drimyus , I had the same issue and it was related to null values after the extract_features()
Please use fillna on the dataframe.

[code]

[2021-03-23 13:58] madelonhulsebos commented on #21
Thanks for contributing this improvement! I will close this issue now.

[2021-03-23 13:58] #21 closed

[2021-04-13 23:09] ikhan94 commented on #8
Hi @madelonhulsebos,

I managed to get the demo notebook to work. It was very well described and very simple. But now I have a problem for training a new data set.

`train_sherlock(X_train, y_train, X_val, y_val, nn_id='retrained_sherlock_2');
print('Trained and saved new model.')`

I have changed y_train and y_val, so that it uses a dataset with nine examples, but I get the following error messag

[2021-04-14 02:00] ikhan94 commented on #8
Hi @madelonhulsebos,

also when I test my dataset on the trained sherlock model. I get the following error.

<img width="862" alt="Screenshot 2021-04-14 at 03 59 40" src="https://user-images.githubusercontent.com/55949998/114643382-d7f42180-9cd5-11eb-9094-83225d027b1c.png">

[2021-04-16 17:51] IshitaJ19 opened #24 "`extract_features()` function unable to find '../sherlock/features/par_vec_trained_400.pkl'"
[code]

I have the following files in `sherlock/features` folder:

![image](https://user-images.githubusercontent.com/45320776/115064243-b6a05a80-9eba-11eb-9bdd-0325319c7027.png)

What am I doing wrong?

[2021-04-17 00:59] #24 closed

[2021-04-23 15:18] nupurneti commented on #2
Hi,

Trying to use sherlock on a new dataset and we are getting a lot of "symbol" as well

![](https://files.slack.com/files-pri/T0NTE4YR5-F01UUSCR82K/image.png)

Was there any improvement on this?

Also, we are trying to use `retrain_minimal_sample` as suggested in this issue, but we dont have the h5 file for it, only the json. how would we go about using `retrain_minimal_sample`?

[2021-05-11 19:49] ycrouin opened #26 "Cannot reproduce already processed features"
Hi, thanks for open-sourcing this tool :)

I tried to reproduce the `processed/X_test.parquet` dataframes from the `raw/test_values.parquet` values.
Unfortunately, I was not able to retrieve the same results using the `extract_features` function.

As we can see in the screenshot below, we don't get the same features at all, as if the dataset used to create the `processed/X_test.parquet` was not th

[2021-06-28 17:38] BryanWBear opened #28 "Rules for selecting columns"
Hi,

Thank you for developing this wonderful project and making it publicly accessible! Would it be possible to have access to the code that you used to select columns from the Web Tables corpus? You briefly mentioned the process in your paper:

"We then match data columns from VizNet that have headers corresponding to our 275 types. To accomodate variation in casing and formatting, single word ty

[2021-06-28 18:01] #28 closed

[2021-06-28 18:01] BryanWBear commented on #28
Found it.

[2021-07-22 15:59] sitaomin1994 opened #30 "Where to find the global statistics features?"
In the paper, it mentions it uses 'global statistics' features, I looked at code, only found other text features but cannot find global statistics features.

[2021-07-28 07:14] madelonhulsebos commented on #30
Hi @sitaomin1994,

The global statistics features can be found in [this module](https://github.com/mitmedialab/sherlock-project/blob/master/sherlock/features/bag_of_words.py), denoted as `bag_of_words.py`.

Let me know if you have questions!

[2021-08-10 06:47] vipul25-ds commented on #17
Hello,

This is really an amazing work. I am trying to use this for some domain specific use cases.

@madelonhulsebos May I know if you have any update on  this thread.

[2021-09-17 12:13] #30 closed

[2021-09-28 07:39] yuji-mizobuchi opened #32 "275 DBpedia properties??"
Hi, Thank you for sharing your great work. I am currently interested in 275 DBpedia properties and am trying to extract them from [T2Dv2 Gold Standard data.](http://webdatacommons.org/webtables/goldstandardV2.html#toc6) However, as far as I examined, there is no extraction method that shows exactly 275 different properties. For example, if I try to extract the dbpedia URLs from all the files in th

[2021-12-12 08:50] lowecg opened #33 "improved F1 score and pre-processing performance"
Hello,

Firstly, thank you for this great project - I learned a lot from this :-)

I have a (substantially) re-written version of this code in a private fork for which I achieved the following results:

- F1 score > 90
- Pre-processing time for all data completes in 25 mins (on a 2013 MBP)

If you're interested, then it would be good to contribute these changes back but I don't want to dump a huge

[2021-12-20 10:07] madelonhulsebos commented on #33
Hi Chris,

Thanks a lot for noting your contribution! It seems good to integrate your improvements.
One PR seems fine to me, so that I can see the code in total. If needed, we can split it afterwards.
Let me know if you think there is a better way to integrate your contribution!

Best,
Madelon

[2021-12-20 19:57] lowecg commented on #33
Thank you, Madelon.

I've created the following PR:

https://github.com/mitmedialab/sherlock-project/pull/34

Execution notes:

Use Python 3.7 and requirements.txt.
The Python 3.8/requirements38.txt work for feature extraction, but TensorFlow 1.x is not compatible so that's as far as it goes.

Run `demo_usage_sherlock.ipynb`, then `random-forest.ipynb` (on the first line, specify an appropriate mo

[2021-12-20 20:00] lowecg commented on #33
(accidentally closed)

[2021-12-22 15:47] lowecg commented on #33
@madelonhulsebos sorry - just noticed there were a couple of files with merge conflicts. I've resolved them now.

[2021-12-22 17:00] madelonhulsebos commented on #33
Thanks @lowecg for this contribution, and resolving the merge conflicts! I will check it out next week.

[2022-01-04 18:03] iganand commented on #3
I am trying to retrain on my data but it is taking forever to extract feature and train the model. Are there tips to improve performance on the model extraction of features and training the model?

[2022-01-04 18:09] madelonhulsebos commented on #3
Hi @iganand,

@lowecg has improved the code in terms of runtime and submitted a PR for this which is visible here: https://github.com/mitmedialab/sherlock-project/pull/34#issue-1085140434.
This code will likely help you reduce the runtime.

Best,
Madelon

[2022-01-05 22:17] iganand commented on #3
thanks , I tried it and I am getting error like below: Can you please help?
FileNotFoundError: [Errno 2] No such file or directory: '../sherlock/features/par_vec_retrained_400.pkl.trainables.syn1neg.npy'

[2022-01-07 07:18] lowecg commented on #33
Morning @madelonhulsebos

I hope you had a good festive break and a happy new year!

Did you get a chance to look at the PR in the end?  Let me know if I can help in any way.

Chris.

[2022-01-09 20:10] iganand commented on #33
@lowecg i am trying to run the code from your branch and i am getting error like below: looks like file is missing
FileNotFoundError: [Errno 2] No such file or directory: '../sherlock/features/par_vec_retrained_400.pkl.trainables.syn1neg.npy'

[2022-01-10 07:44] lowecg commented on #33
Thanks for letting me know, @iganand - I'll take a look this morning.

[2022-01-10 08:22] madelonhulsebos commented on #33
Hi @lowecg,

Thanks for your message. I definitely looked at your PR! It all looks good and useful but I wanted to review the modelling adjustments a bit further. I also need to tag the current version to keep it in line with the paper.

The actual integration will be slightly delayed as I'm busy during the next 2 weeks. Let me know if this affects your work!

Best,
Madelon

[2022-01-10 19:54] lowecg commented on #33
Hi @iganand

- To generate the missing file, run the notebook `train_doc2vec.ipynb`. It's a one-off task and took about 30 mins to complete on my laptop.
- Pull the latest changes from the PR: I fixed a minor fault concerning a missing folder the first run and removed a hard coding of process count

Run `demo_usage_sherlock.ipynb` again and it should run through cleanly.

If you're running this fr

[2022-01-10 19:55] lowecg commented on #33
Thank you for taking the time to look at this @madelonhulsebos - very much appreciated!

There’s no rush for the integration on my part.

Cheers,

Chris.

[2022-01-10 23:58] madelonhulsebos commented on #33
Hi @lowecg,

Would it work for you to have a short meeting next week to discuss the integration?
Perhaps you can send me a personal message through [twitter](https://twitter.com/MadelonHulsebos), or send me an email directly?

Best,
Madelon

[2022-01-11 11:33] lowecg commented on #33
Hi @madelonhulsebos

Happy to have a meeting. I resurrected my Twitter account (@lowecg) but I'm unable to DM you. Can you try to DM me instead?

Cheers,

Chris.

[2022-01-13 07:28] lowecg commented on #3
(copying a response from https://github.com/mitmedialab/sherlock-project/issues/33)

Hi @iganand

- To generate the missing file, run the notebook `train_doc2vec.ipynb`. It's a one-off task and took about 30 mins to complete on my laptop.
- Pull the latest changes from the PR: I fixed a minor fault concerning a missing folder on the first run and removed a hard coding of process count

Run `demo_u

[2022-01-14 18:19] iganand commented on #3
Thankyou very much

[2022-02-10 11:11] madelonhulsebos commented on #32
Hi @yuji-mizobuchi,

Apologies for the late response. I do not remember exactly how I extracted the types, but I believe just from the annotations of T2Dv2? Let me know if you haven't sorted it out yet, then I'll dig a bit deeper. For this project, we filtered out semantic types from dbpedia of which we had less than 1000 columns. All types we used are listed by a related project in table 18 of [t

[2022-02-10 11:13] madelonhulsebos commented on #33
Hi @lowecg,

I think we got through this now, so shall we close this issue?

Best,
Madelon

[2022-02-10 11:17] madelonhulsebos commented on #26
Hi @ycrouin,

Apologies for this late response, I hope you were able to make it work for you.
It may be that the code did not provide exact reproducibility, it has been reworked a bit.
The latest version should enable you to reproduce the performances and is much faster, with thanks to @lowecg.
Let me know if you run into issues with that, or if you have other questions!

Best,
Madelon

[2022-02-10 14:03] #33 closed

[2022-02-16 22:22] madelonhulsebos commented on #17
Hi all,

The current release includes the model code, see sherlock/deploy/model.py. This enables retraining with any class you like and adjusting the network architecture. The number of classes is automatically inferred from the training labels (unique labels). Please let me know if you have any questions or run into issues!

Best,
Madelon

[2022-02-17 15:41] madelonhulsebos commented on #19
Hi @bhart12 and @sylmorin-gbif,

Thanks for reporting these issues and collaborating on the solution. I wanted to let you know that I have added the original model code, to simplify retraining Sherlock with a different number of classes (this is inferred from the training labels automatically). You can find and use the code from the `sherlock.deploy.model.py` module, please see the renewed noteboo

[2022-02-17 15:41] #19 closed

[2022-02-17 15:44] #2 closed

[2022-02-17 16:48] iganand commented on #3
@madelonhulsebos thanks for sharing. Should I get just get latest code from the master branch and then try again

[2022-02-17 16:54] madelonhulsebos commented on #3
Indeed, that should work. Let me know if you run into issues.

On Thu, 17 Feb 2022 at 17:49, iganand ***@***.***> wrote:

--
Madelon

[2022-02-28 09:05] #17 closed

[2022-02-28 09:09] madelonhulsebos commented on #11
Thanks for your assistance on this issue @sylmorin-gbif and @drimyus. I hope it worked out. If it did not, the current release fixes some bugs on the feature extraction code thanks to @lowecg. This may solve your problem as well.

[2022-02-28 09:09] #11 closed

[2022-02-28 09:22] madelonhulsebos commented on #15
Hi @varsha222, please rerun your training process with the new release. It provides faster feature extraction procedures contributed by @lowecg, which makes it easier to retrain Sherlock on the full data. Please report a new issue if you have additional questions.

[2022-02-28 09:22] #15 closed

[2022-02-28 09:26] madelonhulsebos commented on #8
Hi @ikhan94,

I've reworked [an example notebook](https://github.com/mitmedialab/sherlock-project/blob/master/notebooks/00-use-sherlock-out-of-the-box.ipynb) showing the process for feature extraction and using Sherlock to generate predictions. The other notebooks [in this directory](https://github.com/mitmedialab/sherlock-project/tree/master/notebooks) show how to extract features at scale and re

[2022-02-28 09:26] #8 closed

[2022-02-28 09:31] madelonhulsebos commented on #8
Hi @gaurav326913,

Please check [this notebook](https://github.com/mitmedialab/sherlock-project/blob/master/notebooks/01-data-preprocessing.ipynb) for guidance on data preprocessing and feature extraction. Note that the input data should be formatted the same as in the data in the download (read [this section of the readme](https://github.com/mitmedialab/sherlock-project/blob/master/notebooks/01-d

[2022-03-04 06:34] engineersunny opened #43 "gensim version"
Hi, I'm using gensim 3.8.0 but still gets this error when I run extract_features().

'Doc2Vec' object has no attribute 'neg_labels'

Is there a way to avoid this?

[2022-03-05 08:11] lowecg commented on #43
That's strange.

I found this quote this on [an SO post](https://stackoverflow.com/questions/68131731/doc2vec-object-has-no-attribute-neg-labels-when-trying-to-use-pretrained-mode):

Would you mind bumping the dependency version to gensim 3.8.3 and trying again? According to the [release notes](https://github.com/RaRe-Technologies/gensim/releases), there's a particular fix "Fix missing C extension

[2022-03-05 09:27] lowecg commented on #43
I just tested gensim 3.8.3

I had to edit `sherlock/features/paragraph_vectors.py` and **comment out the line**:

`assert gensim.models.doc2vec.FAST_VERSION > -1, "This will be painfully slow otherwise"`

I ran the notebook `01-data-preprocessing.ipynb` from a fresh clone of the repo. It ran cleanly and there was no observable impact on the performance despite the scary message from the assertion

[2022-03-10 17:34] GitTables commented on #43
Thanks for reporting this issue @engineersunny, and testing and sharing your solution @lowecg. @engineersunny did this solution work for you?

@lowecg I did not encounter this issue myself, do you know if it this is a general issue (e.g. it happens in the `extract_features_to_csv()` function as well)? Do you think we should comment this line by default?

[2022-03-10 17:35] madelonhulsebos commented on #43
Thanks for reporting this issue @engineersunny, and testing and sharing your solution @lowecg. @engineersunny did this solution work for you?

@lowecg I did not encounter this issue myself, do you know if it this is a general issue (e.g. it happens in the extract_features_to_csv() function as well)? Do you think we should comment this line by default?

[2022-03-14 01:59] engineersunny commented on #43
@madelonhulsebos I got that assertion error each time when I ran the code as well so I commented out earlier but still getting the error message above. It might be a gensim version issue as I couldn't install the old version on my machine.

[2022-03-22 12:00] sadhiman7 opened #44 "How do you use use our custom trained par_vec_trained_400.pkl to train our own model?"
I have created the paragraph vector as mentioned in the notebook, but how do we use it for data-preprocessing? Because prepare_feature_extraction() still downloads the pre trained paragraph vectors (3 files).

[2022-03-22 19:36] madelonhulsebos commented on #44
Hi @sadhiman7,

Actually, the `prepare_feature_extraction()` function only downloads these files, if these are not available yet. So in your case, if you've trained the paragraph vectors yourself, it will not download the pretrained paragraph vector files.
To your other question the `.npy` file is used for initializing the trained paragraph vector model.

Hope this helps your understanding.

Best,

[2022-03-25 07:53] sadhiman7 commented on #44
Thanks @madelonhulsebos for the response! Just one more question, is there any limit on the number of semantic types we can train ?

[2022-03-25 10:19] kapilmayank commented on #44
@madelonhulsebos ,I have one confusion ,suppose a column has more than one semantic  will it work?

[2022-03-25 14:18] kapilmayank commented on #44
in which function .npy files  are  actually getting initialized?

[2022-03-25 20:00] madelonhulsebos commented on #44
You're welcome @sadhiman7; yes, you can train Sherlock with any number of classes if you initialize the `SherlockModel` from the `sherlockdeploy.model` module and use the `fit` method to train it. This will automatically infer the number of semantic types from the training labels.

Note that the capacity of the network (e.g. number of layers and/or number of nodes) may need an increase to accommod

[2022-03-25 20:08] madelonhulsebos commented on #44
@kapilmayank w.r.t. the file dependencies for the pretrained paragraph vector model; they will be downloaded automatically if they are not available on the right path, and these files are loaded into the model in the `sherlock.features.paragraph_vectors` module. Did you run into any issue?

[2022-03-28 07:21] kapilmayank commented on #44
Sure @madelonhulsebos , will do that

[2022-03-31 11:40] #44 closed

[2022-04-01 11:34] sadhiman7 opened #45 "How to change the number of epochs ?"
I have tried changing the value of epochs in model.py, however it still runs till 100 epochs.

[2022-04-01 13:59] kapilmayank opened #46 "Number of Epochs are not changing"
I updated the epochs to 20  and early_stopping to categroical crossentropyin model.py file but while training sherlock model from scratch it still runs for 100 epochs .Although I had imported the sherlock model file after making this change .Please help me in solving this asap

[2022-04-04 14:30] SivaNagendra-sn opened #47 "Wrong predictions while testing new data"
I have trained a Sherlock model and it is performing well in test data. But, when I tried test the model and passing the data to model as per ' Sherlock-out-of-the-box' notebook, then it is giving wrong predictions ( even passing training data(in the same way) also results in wrong predictions). Any separate l approach need to be taken for testing the data ?
 Note : I have created my own paragraph

[2022-04-04 17:13] madelonhulsebos commented on #47
Hi @SivaNagendra-sn,

Thanks for reporting your problem here. Did you change the identifiers when initializing the model and making inferences with it? The `"sherlock"` identifiers in the respective parts of the notebook should be replaced with the identifier that you gave to the newly trained model.

Madelon

[2022-04-05 03:53] SivaNagendra-sn commented on #47
Hi @madelonhulsebos
Thanks for the reply. I have replaced the paragraph vector file(.pkl) for extracting features and training Sherlock model.
Identifiers means which are under 'feature column identifiers(.tsv files)''. If so, we have not changed anything in that .tsv files, Also can u elaborate on what needs to be changed there? If not, can u explain what actually those identifiers are ?

[2022-04-05 14:53] SivaNagendra-sn commented on #47
Yeah, I have actually done that. While training the Sherlock model I have mentioned the model_id as "retrained_sherlock". While working with predict function also we are mentioning model_id as "retrained_sherlock". For test data it is giving the results with good accuracy. But testing with new data( i.e, extracting features with 'extract_features' function then using predict function with model_id

[2022-04-05 18:57] iganand commented on #47
I have retraining and prediction working on new data but if it's mostly text. fields. For numeric fields and length of size 12 it does not work well.. prediction vector returned is null even though classification score and output for test data looks good . Do you have any suggetions?

[2022-04-06 19:27] madelonhulsebos commented on #47
OK, that should be alright then @SivaNagendra-sn. Is your training data formatted exactly as the original training data? The feature extraction pipeline expects "stringified" lists. What kind of types and data are you then training/testing on versus what does the "new data" look like?

[2022-04-06 19:49] madelonhulsebos commented on #45
Hi @sadhiman7, that sounds odd, do you initialize and train the model using `SherlockModel(...).fit(...)` or from the json file? And, did you install the package as editable?

[2022-04-06 19:53] madelonhulsebos commented on #46
Hi @kapilmayank, please see issue: mitmedialab/sherlock-project#45.

[2022-04-06 19:53] #46 closed

[2022-04-06 19:54] #26 closed

[2022-04-07 18:17] iganand commented on #47
I am getting null in prediction vector. Although classification report for that specific field looks to F1 score .87. What might be the reason

[2022-04-12 19:29] KentonParton opened #48 "KeyError when running model.predict(X_test) in 02-1-train-and-test-sherlock.ipynb"
Hello!

I am trying to use the pre-built 'sherlock' model to make predictions. As suggested in the readme, I have run some of the cells in the 02-1-train-and-test-sherlock.ipynb file but get a KeyError when `model.predict(X_test)` is run.

Code to Reproduce:
[code]

When `model.predict(X_test)` is run the following KeyError occurs:

[code]

Is there something that I am missing or need to do prior

[2022-04-22 17:13] lowecg commented on #48
Hi Kenton,

Sorry for the delay - I missed your original post. I'll have a look at this in the morning.

To get a lay of the land:

It sounds like you've initialised the project and just run `02-1-train-and-test-sherlock.ipynb`? Was that all you ran?

Could you confirm what version of Python you're running?

Cheers,

Chris.

[2022-04-22 20:13] madelonhulsebos commented on #48
Hi Kenton,

Apologies for my late response but I plan to take a look at this tomorrow.

@Chris, I believe I’ve encountered this issue before, but will let you know
if the issue is unknown to me..

Best,
Madelon

On Fri, 22 Apr 2022 at 19:13, lowecg ***@***.***> wrote:

--
Madelon

[2022-04-23 08:38] madelonhulsebos commented on #48
Hi @KentonParton,

I ran your code and it works for me once I use the test data file that was created by running the notebook `01-data-processing.ipynb` (this file is named `test.parquet`). Did you generate `X_test.parquet` with that as well? What does it contain? Its head should be as follows:

<img width="818" alt="Screenshot 2022-04-23 at 10 29 09" src="https://user-images.githubusercontent.com

[2022-05-20 18:53] michaelmior opened #49 "Tensorflow not included in requirements"
In the Python 3.8 requirements file, Tensorflow is not included. Furthermore, it doesn't appear that there's a version of Tensorflow that is compatible with all the other packages that are listed there. Switching to something like [Pipenv](https://pipenv.pypa.io/en/latest/) or [Poetry](https://python-poetry.org/) would likely make such things much easier to manage.

[2022-05-26 12:08] michaelmior opened #51 "Parquet files invalid"
I get errors reading the Parquet files produced by Sherlock when using certain other tools to read them. It turns out that some of the characters used are invalid as part of a column name. Perhaps character features could simply use their ASCII value instead of the character itself?

[code]

[2022-06-14 10:30] alexandrosandre commented on #49
Same here. Looks like it was an unfinished attempt to support Python 3.8?!

[2022-06-15 09:27] madelonhulsebos commented on #49
Thanks for sharing this issue! I hope you managed to make it work in the meantime, but I will look into this later. If you have a general solution, a PR would be welcome as well!

[2022-06-15 09:37] michaelmior commented on #49
@madelonhulsebos I would strongly recommend making use of [pipenv](https://pipenv.pypa.io/en/latest/) or [Poetry](https://python-poetry.org/). Primarily because it makes it easy to track the dependencies the project actually needs while still pinning the versions of all transitive dependencies. This makes it easy to update dependencies while still maintaining a consistent set of versions.

[2022-06-15 10:54] michaelmior commented on #49
My point is that `requirements.txt` includes all transitive dependencies which makes upgrading messy. For example `absl-py` is not directly required by Sherlock, but somewhere else down the chain of dependencies. There's no way to identify this case with just a requirements file which makes much more challenging to upgrade. I had this experience when trying to get Sherlock with Python 3.x. However

[2022-06-16 12:02] alexandrosandre commented on #49
https://github.com/mitmedialab/sherlock-project/pull/29/files Addresses this part.

[2022-06-24 08:12] ivbeg opened #54 "List of semantic data types detected by Sherlock"
Hi! I'am building public[ registry](https://github.com/apicrafter/metacrafter-registry) of semantic data types similar to PRONOM for data formats.

Is there any document or code file with list of semantic data types supported by Sherlock ? I would like to include it into the registry and probably this registry will be helpful for your project too.

[2022-06-24 08:46] madelonhulsebos commented on #54
That looks useful, thanks for making and sharing! The 78 semantic types that Sherlock is trained on can be found in table 19 on page 28 in [this paper](https://adalabucsd.github.io/papers/TR_2021_SortingHat.pdf).

It also includes a potentially helpful mapping between semantic type and "feature" type like categorical, numeric, etc.

[2022-06-24 08:55] ivbeg commented on #54
@madelonhulsebos thanks a lot! It's very helpful!

[2022-06-24 08:59] madelonhulsebos commented on #54
You're welcome! PS, all types match a type in wikidata.

[2022-06-24 09:04] ivbeg commented on #54
@madelonhulsebos Great! In the registry also most types matched with Wikidata, but not all of them. There are some data types like certain types of hash MD5, SHA1, SHA256 and e.t.c. without identical Wikidata property also there are a lot of identifiers not presented in Wikidata. That's why I started this registry. All semantic data types also linked with country and spoken language.

[2022-08-18 12:07] dmlayton opened #55 "licence?"
What licence is this released under? The MIT licence?

[2022-09-17 22:02] madelonhulsebos commented on #55
Hi @dmlayton,

Apologies for the late response! The repository is now licensed under the MIT License.

[2022-09-17 22:02] #55 closed

[2022-09-17 22:02] #54 closed

[2022-09-17 22:04] madelonhulsebos commented on #48
Hi @KentonParton, did you solve the issue?

[2022-09-17 22:06] madelonhulsebos commented on #45
Hi @sadhiman7, did you solve this issue?

[2022-09-17 22:06] #32 closed

[2022-09-20 15:28] stranger-codebits opened #56 "Nan probabilities prediction on datasets with (almost) constant data"
When training a new model ore even using the pretrained one, trying to obtain predictions all probabilities leads to none.

This strange behavior was firstly observed during predictions of specific semantic data types where many labels had a bias towards the first defined label. Digging deeper, when using predict_proba, a full set of nan probabilities was observed. I believe this is a bug.

Diggin

[2022-10-03 01:22] madelonhulsebos commented on #56
Dear @stranger-codebits,

Thanks a lot for reporting your issue and findings, this is a great catch.
I hope to have time to look into this soon. In the meantime, feel welcome to file a PR with a fix, if you have implemented one!

Kind regards

[2022-10-03 10:42] stranger-codebits commented on #56
Are there any specific guides on how to open a PR, any tests that have to execute and so on? I will open a PR on the next days!

Kind regards,
Nikolaos

[2022-10-04 04:29] madelonhulsebos commented on #56
Hi Nikolaos,

That would be much appreciated!
There are no guidelines in place, but it would be great if you could
provide your solution along with some evidence showing that 1) the overall
model performance is the same or better, and 2) the predicted
probabilities/classes makes sense for the inputs for which you found issues.

Thank you!

Kind regards,
Madelon

On Mon, Oct 3, 2022 at 3:42 AM Niko

[2022-10-06 15:43] austinmw opened #59 "Get embeddings for each column"
Hi, how can I get embeddings instead of predictions for each column? Thanks!

[2022-10-10 12:12] sarod opened #60 "Running notebook fails with "ValueError: numpy.ndarray size changed...""
###  Steps to reproduce
1. Installing the requirements using `pip install -r requirements.txt`
2. Run the 00-use-sherlock-out-of-the-box.ipynb notebook

### Actual result
The notebook execution fails with
`ValueError: numpy.ndarray size changed, may indicate binary incompatibility. Expected 88 from C header, got 80 from PyObject`
This issue seems similar to https://github.com/RaRe-Technologies/gen

[2022-11-25 14:17] terekete opened #65 "question - general id columns"
Is there a means to identify general id columns using sherlock ?